# Temporary files
temp/

# Build artifacts
*.tar.gz
*.tar.xz
*.pkg.tar.zst
pkg/
src/

# Package build files
aur-packages/*/pkg/
aur-packages/*/src/
aur-packages/*/*.tar.gz
aur-packages/*/*.tar.xz
aur-packages/*/*.pkg.tar.zst
