[Desktop Entry]
Version=1.0
Type=Application
Name=VOICEPEAK
Comment=Japanese Text-to-Speech Software
Exec=voicepeak
Icon=voicepeak
Terminal=false
Categories=AudioVideo;Audio;
Keywords=speech;tts;voice;japanese;
StartupNotify=true
StartupWMClass=voicepeak
